<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.owenhenley.baseApp</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>AppDelegate.h</key>
						<dict>
							<key>SortOrder</key>
							<integer>99</integer>
							<key>Group</key>
							<array>
								<string>Resources</string>
							</array>
							<key>Path</key>
							<string>AppDelegate.h</string>
						</dict>
						<key>AppDelegate.m</key>
						<dict>
							<key>SortOrder</key>
							<integer>99</integer>
							<key>Group</key>
							<array>
								<string>Resources</string>
							</array>
							<key>Path</key>
							<string>AppDelegate.m</string>
						</dict>
						<key>main.m</key>
						<dict>
							<key>SortOrder</key>
							<integer>99</integer>
							<key>Path</key>
							<string>main.m</string>
							<key>Group</key>
							<array>
								<string>Resources</string>
							</array>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>DELETEME-MODEL</string>
						<string>DELETEME-MODELCONTROLLER</string>
						<string>DELETEME-VIEWCONTROLLER</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>AppDelegate.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>99</integer>
							<key>Group</key>
							<array>
								<string>Resources</string>
							</array>
							<key>Path</key>
							<string>AppDelegate.swift</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>DELETEME-MODEL</string>
						<string>DELETEME-MODELCONTROLLER</string>
						<string>DELETEME-VIEWCONTROLLER</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>DELETEME-MODEL</key>
		<dict>
			<key>SortOrder</key>
			<integer>2</integer>
			<key>Path</key>
			<string>DELETEME-MODEL</string>
			<key>Group</key>
			<array>
				<string>Models</string>
			</array>
		</dict>
		<key>DELETEME-MODELCONTROLLER</key>
		<dict>
			<key>SortOrder</key>
			<integer>3</integer>
			<key>Path</key>
			<string>DELETEME-MODELCONTROLLER</string>
			<key>Group</key>
			<array>
				<string>Controllers</string>
				<string>Model Controllers</string>
			</array>
		</dict>
		<key>DELETEME-VIEWCONTROLLER</key>
		<dict>
			<key>SortOrder</key>
			<integer>4</integer>
			<key>Path</key>
			<string>DELETEME-VIEWCONTROLLER</string>
			<key>Group</key>
			<array>
				<string>Controllers</string>
				<string>View Controllers</string>
			</array>
		</dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>5</integer>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Storyboards</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
